body{
  margin: 0;
  display:flex;
  justify-content: center; /*for Horizontal alignment*/
  align-items: center;  /*for Vertical alignment*/
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
}
#calculator{ /*This is used for styling  of the calculator like digits */
  font-family: Arial,sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 300px;
}
#display{ /*This display is used for styling the input bar */
  width: 100%;
  padding:20px;
  font-size: 3rem;
  text-align: left;
  border-radius: 15px;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#keys{
 gap: 10px;
 padding:25px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white ;
  /*font-size:3rem*/
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: hsl(0, 0%, 40%);
  /*To lightup the buttons whenever we click on them*/
}
button:active{
  background-color: hsl(0, 0%, 50%);
  /*To momenterily flash the buttons*/
}
.operator-btn{ /*This is a class of arthemetic operation buttons used to style the operation buttons*/
  background-color: hsl(35,100%,55%);
}

.operator-btn.hover{
  background-color: hsl(35, 100%, 65%);
}

.operator-btn.active{
  background-color: hsl(35, 100%, 75%);
}
